$widhtSite: 1140px;
$selectDarkColor: #222;
$selectLightColor: rgb(241, 109, 127);
$colorDropDownMenuText: rgb(111, 110, 110);
$standartScale: scale(1.1);
$standartBoxShadow: 4px 4px 35px rgb(229, 229, 229);
$standartTransition: 0.3s;