$standartSiteScale: scale(1.1);
$standartSiteTransition: 0.3s;
$widhtSite: 1140px;
$selectLightColor: rgb(241, 109, 127);
$standartTransition: 0.3s;
$selectColorText: #F16D7F;
$selectDarkColor: #222;