@import 'vars';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

summary {
    display: block;

    summary::-webkit-details-marker {
        display: none;
    }
}


body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - $widhtSite/2);
    padding-right: calc(50% - $widhtSite/2);

}

.header {
    padding-top: 18px;
    padding-bottom: 19px;
    background-color: $selectDarkColor;
    display: flex;
    justify-content: space-between;

    &_left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &_logo_link:hover {
        transform: $standartScale;
        transition: $standartTransition;
    }

    &_logo_search:hover {
        transform: $standartScale;
        transition: $standartTransition;
    }

    &_right {
        display: flex;
        align-items: center;
        gap: 34px;
    }

    &_burger:hover {
        transform: $standartScale;
        transition: $standartTransition;
    }

    &_profile:hover {
        transform: $standartScale;
        transition: $standartTransition;
    }

    &_cart:hover {
        transform: $standartScale;

        transition: $standartTransition;
    }

}

.bread_crumbs {
    padding-top: 59px;
    padding-bottom: 60px;
    background: rgb(248, 243, 244);
    display: flex;
    justify-content: space-between;


    &_heading {

        color: $selectLightColor;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }

}


.registration {
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding-top: 64px;
    padding-bottom: 113px;

    &_name {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & input {
            padding: 13px 17px 16px;
            border: 1px solid rgb(164, 164, 164);

            &::placeholder {
                color: $colorDropDownMenuText;
                font-size: 13px;
                font-weight: 300;
                line-height: 16px;
            }
        }

        & input:hover {
            border: 1px solid $selectLightColor;
        }
    }

    &_heading {
        color: $regH3Heading;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }

    &_gender {
        padding-top: 31px;
        padding-bottom: 33px;
        display: flex;
        gap: 20px;

        & label {
            color: rgb(0, 0, 0);
            font-size: 11px;
            font-weight: 300;
            line-height: 13px;
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                transform: $standartScale;
                transition: $standartTransition;
            }
        }
    }

    &_login {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & input {
            padding: 13px 17px 16px;
            border: 1px solid rgb(164, 164, 164);

            &::placeholder {
                color: $colorDropDownMenuText;
                font-size: 13px;
                font-weight: 300;
                line-height: 16px;
            }
        }

        & input:hover {
            border: 1px solid $selectLightColor;
        }
    }

    &_pass_discription {
        color: $colorDropDownMenuText;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
    }

    &_button {
        margin-top: 55px;
        padding: 16px 29px;
        background-color: $selectLightColor;
        border: 1px solid $selectLightColor;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        transition: $standartTransition;
        display: flex;
        gap: 20px;

        &:hover {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(164, 164, 164);
            color: $selectLightColor;
            transition: $standartTransition;
        }

        &:hover path {
            fill: $selectLightColor;
            transition: $standartTransition;
        }
    }

    &_discription {

        &_heading {
            color: $colorTextBlack;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            padding-bottom: 22px;
        }

        &_text {
            color: $colorTextBlack;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            padding-bottom: 21px;
        }

        &_advantages {
            color: $colorTextBlack;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &_advantage {
            display: flex;
            gap: 23px;
        }
    }
}

.about_the_seller {



    &_background {
        background: url(img/background_subscribe.png);
        background-repeat: no-repeat;
        padding-top: 97px;
        padding-bottom: 126px;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &_info {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    &_img {
        padding-bottom: 30px;
    }

    &_description {
        text-align: center;
    }

    &_subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_heading {
            color: rgb(34, 34, 36);
            font-size: 24px;
            font-weight: 700;
            line-height: 0px;
            letter-spacing: 0%;
            text-align: center;
            padding-bottom: 25px;
        }

        &_text {
            color: rgb(34, 34, 36);
            font-size: 18px;
            font-weight: 400;
            line-height: 0px;
            letter-spacing: 0%;
            text-align: center;
            padding-bottom: 38px;
        }

        &_text-field__group {
            display: flex;
        }

        &_text-field_email {
            background-color: #E1E1E1;
            color: #222224;
            border: 1px #E1E1E1;
            width: 256px;
            height: 49px;
            border-top-left-radius: 50cap;
            border-bottom-left-radius: 50cap;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 22px;
            padding-right: 22px;
        }

        &_butt {
            background-color: $selectLightColor;
            border: 1px $selectLightColor;
            width: 100px;
            height: 49px;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-top-right-radius: 50cap;
            border-bottom-right-radius: 50cap;
            transition: $standartTransition;

            &:hover {
                color: $selectLightColor;
                background-color: #FFF;
                transition: $standartTransition;
            }
        }
    }


}

.footer {
    padding-top: 24px;
    padding-bottom: 23px;
    background-color: $selectDarkColor;
    display: flex;
    justify-content: space-around;
    align-items: center;


    &_support_date {
        color: #FBFBFB;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_social_network {
        display: flex;
        gap: 7px;
    }

    &_social_nettwork_link:hover path {
        fill: $selectLightColor;
        transition: $standartTransition;
    }
}


@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .registration {
        gap: 22px;

        &_discription {

            &_heading {
                font-size: 16px;
                line-height: 19px;
            }

            &_text {
                font-size: 16px;
                line-height: 19px;
            }

            &_advantages {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }


    .about_the_seller {
        padding-left: 0;
        padding-right: 0;

        &_background {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
            padding-top: 59px;
            padding-bottom: 65px;
        }

    }

}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 178px);
        padding-right: calc(50% - 178px);
    }

    .header {
        padding-left: 16px;
        padding-right: 16px;

        &_profile {
            display: none;
        }

        &_cart {
            display: none;
        }
    }

    .bread_crumbs {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding-top: 24px;
        padding-bottom: 46px;
    }


    .registration {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 100px;
    }

    .about_the_seller {

        padding-left: 0;
        padding-right: 0;

        &_subscribe_text-field_email {
            width: auto;
        }

        &_subscribe_butt {
            width: 95px;
            height: 47px;
        }

    }

    .footer {
        padding-top: 43px;
        flex-direction: column-reverse;
    }

}